/*!
 * Site specific styles
 * Included after all other styles (Depends upon Bootstrap)
 * Author - https://github.com/ullascantony
 */
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #111231;
    --color-gray-dark: #0d0d0d;
    --color-gray-light: #eee;
    --color-gray-text: #212529;
    --color-gray-text-muted: #9b9b9b;
    --color-gray-disabled-bg: #f1f3f4;
    --color-gray-disabled: #babdc0;
    --color-shadow: rgba(0, 0, 0, .05);
    --color-border: rgba(0, 0, 0, .15);
    --color-text-shadow: rgba(0, 0, 0, .25);
    --color-code: #e01a76;
    --color-lnk: #23527c;
    --color-site-main-dark: #005fb2;
    --color-site-main-medium: #bfd7ec;
    --color-site-main-light: #f2f7fb;
    --color-site-main-text-dark: #030306;
    --color-site-header: #002f6a;
    --color-site-button: #7952b3;
    --font-size-base: 14px;
    --font-size-step: 16px;
    --font-weight-full: bold;
    --font-weight-semi: normal;
    --size-none: 0;
    --size-min: .15em;
    --size-quart: .25em;
    --size-near-half: .4em;
    --size-half: .5em;
    --size-near-3quart: .65em;
    --size-3quart: .75em;
    --size-near-full: .85em;
    --size-full: 1em;
    --size-full-quart: 1.25em;
    --size-full-half: 1.5em;
    --size-double: 2em;
}

html {
    font-size: var(--font-size-base);
}

body {
    background: var(--color-gray-light);
}

a {
    color: var(--color-lnk);
}

h2, .h2 {
    color: var(--color-site-header);
    font-size: var(--size-full-quart);
}

code {
    color: var(--color-code);
}

.navbar-site {
    background: var(--color-white);
    box-shadow: var(--size-none) var(--size-quart) var(--size-3quart) var(--color-shadow);
}

    .navbar-site a.navbar-brand {
        color: var(--color-site-main-dark);
        font-weight: var(--font-weight-full);
        padding-bottom: var(--size-none);
        padding-top: var(--size-none);
    }

    .navbar-site .navbar-brand .navbar-brand-image {
        height: 32px;
        width: 32px
    }

    .navbar-site .navbar-brand .navbar-brand-text {
        display: inline-block;
        margin-left: var(--size-half);
        vertical-align: middle
    }

.alert-site {
    padding: var(--size-half);
    margin-bottom: var(--size-full);
}

.contents .card-site {
    border: 1px solid var(--color-border);
    border-radius: var(--size-half);
    box-shadow: var(--size-quart) var(--size-quart) var(--size-full) var(--color-shadow);
}

    .contents .card-site .card-header {
        font-size: var(--size-full-quart);
        font-weight: var(--font-weight-semi);
    }

        .contents .card-site .card-header:first-child {
            border-radius: var(--size-near-half) var(--size-near-half) var(--size-none) var(--size-none);
            text-shadow: var(--size-quart) var(--size-quart) var(--size-min) var(--color-text-shadow);
        }

    .contents .card-site .card-body {
        padding: var(--size-full);
    }

.contents .card-site-dark .card-header {
    background-color: var(--color-site-main-dark);
    color: var(--color-white);
}

.contents .table-container {
    background-color: var(--color-white);
    overflow-x: auto;
    margin-bottom: var(--size-quart);
}

.contents .table-site {
    margin-bottom: var(--size-none);
}

    .contents .table-site thead tr {
        background-color: var(--color-site-main-medium);
        border-bottom: .2em solid var(--color-site-main-dark);
    }

    .contents .table-site tbody tr:nth-of-type(odd) {
        background-color: var(--color-white) !important;
    }

    .contents .table-site tbody tr:nth-of-type(even) {
        background-color: var(--color-site-main-light) !important;
    }

.contents .pagination-site {
    float: left;
    font-size: var(--size-3quart);
    font-weight: var(--font-weight-full);
    margin-bottom: var(--size-none);
}

    .contents .pagination-site .page-item {
        cursor: pointer;
    }

        .contents .pagination-site .page-item .page-link {
            color: var(--color-site-main-text-dark);
            line-height: 1;
            padding: var(--size-near-3quart) var(--size-3quart) var(--size-near-3quart) var(--size-3quart);
            word-break: keep-all;
        }

            .contents .pagination-site .page-item .page-link:hover {
                background-color: var(--color-site-main-light);
                color: var(--color-site-main-dark);
            }

        .contents .pagination-site .page-item.current,
        .contents .pagination-site .page-item.current .page-link,
        .contents .pagination-site .page-item.current .page-link:active,
        .contents .pagination-site .page-item.current .page-link:hover {
            background-color: var(--color-site-main-medium);
            color: var(--color-site-main-text-dark);
            cursor: default;
        }

        .contents .pagination-site .page-item.disabled {
            cursor: default;
        }

            .contents .pagination-site .page-item.disabled .page-link {
                background-color: var(--color-gray-disabled-bg);
                color: var(--color-gray-disabled);
                cursor: not-allowed;
            }

.contents .pagination-summary {
    color: var(--color-gray-text-muted);
    font-size: var(--size-near-full);
    font-weight: var(--font-weight-full);
    float: right;
    margin-top: var(--size-quart);
    text-align: right;
}

.copyright {
    color: var(--color-gray-dark);
    font-size: var(--size-3quart);
    margin-bottom: var(--size-full);
    margin-top: var(--size-none);
}

@media (min-width: 576px) {
    html {
        font-size: var(--font-size-step);
    }

    li.nav-item {
        margin-left: var(--size-quart);
        margin-right: var(--size-quart);
    }

        li.nav-item a.nav-link {
            background-color: var(--color-site-main-light);
            border: 1px solid var(--color-site-main-medium);
            border-radius: var(--size-quart);
            color: var(--color-gray-text);
            font-weight: var(--font-weight-full);
        }

            li.nav-item a.nav-link.active {
                background-color: var(--color-site-main-medium);
                border: 1px solid var(--color-site-main-dark);
            }
}

@media (max-width: 575px) {
    .navbar-site a.navbar-brand {
        margin-left: var(--size-quart) !important;
    }

    .navbar-site .navbar-collapse {
        margin-left: var(--size-half) !important;
    }

    .navbar-site .navbar-toggler {
        border-color: var(--color-site-main-medium);
        color: var(--color-site-main-light);
        margin-right: var(--size-quart);
    }
}
